:root{
    --cor-de-fundo: #ffbe00
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: #6b5a5a;
    box-sizing: border-box;
    min-height: 100%;
}

.container{
    min-height: 80vh;
    width: 100%;
    background-image: url(img/liquid-cheese.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header{
    display: flex;
    align-items: center;
    padding: 2em;
    justify-content: space-between;
}

.nav_bar_links{
    display: flex;
    margin: 1.5em;
}

li,a{
    padding: 0.5em;
    text-decoration: none;
    list-style: none;
}

.apresentacao{
    margin: 5em;
    text-align: left;
    width: 40%;
}

.text_meuNome{
    margin: 1em;
    font-weight: 600;
    font-size: 30px;
}

.sobre_mim{
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-de-fundo);
}

.text_apresentacao{
    text-align: center;
    width: 40%;
}
.text_sobre_mim{
    margin-bottom: 2em;
}
.text{
    line-height: 150%;
}
.text_tec{
    padding-top: 5em;
    margin-bottom: 2em;
    text-align: center;
}

.Tecnologias{
    background-color: var(--cor-de-fundo);
    min-height: 70vh;
}

.tecs_div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.tec_img{
    margin-top: 4em;
    text-align: center;
}

.title_trabalho{
    padding-top: 5em;
}

.Trabalhos{
    text-align: center;
    background-color: var(--cor-de-fundo);
    min-height: 80vh;
}
.trabalhos_div{
    display: flex;
    justify-content: center;
    margin: 5em;
}
.trabalhos_img{
    padding: 5em;
}

img{
    border-radius: 10px;
}

.text_trabalho{
    margin-top: 1em;
    font-weight: 700;
}

.contatos{
    background-color: var(--cor-de-fundo);
    text-align: center;
    padding-top: 5em;
    font-size: 30px;
}
 .contatos2{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-de-fundo);
    min-height: 60vh;
}

.btn_contato{
    background-color: transparent;
    opacity: 0,2;;
    padding: 0.5em;
    margin: 1em;
    border: 1px solid black;
    border-radius: 10px;
    text-align: end;
}

.img_contat{
    text-align: center;
    margin: 0.5em;
}

.whatsapp:hover{
    background-color: rgba(11, 206, 5, 0.72);
    padding: 0.8em;

}

.email:hover{
    background-color: rgba(7, 175, 231, 0.737);
    padding: 0.8em;
}

.nav_bar_item:hover{
    border-bottom: 1px solid black;
    font-size: 18px;
}
